@font-face {
  font-family: 'Prompt-Bold';
  src: local('Prompt-Bold'), url(./fonts/Prompt-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Prompt-Medium';
  src: local('Prompt-Medium'), url(./fonts/Prompt-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Prompt-Regular';
  src: local('Prompt-Regular'), url(./fonts/Prompt-Regular.ttf) format('truetype');
}

h1, h2, h3,h4, h5, h6 {
  font-family: 'Prompt-Medium';
}

.title {
  font-family: 'Prompt-Regular';
}